/*	 Freya Colors	 */
:root 		{
			--freya_dark_green: #70B62D;
			--freya_light_green: #A2CA6F;
			--freya_dark_blue: #00A29A;
			--freya_light_blue: #92D4F2;
			--freya_dark_grey: #6D7279;
		}


body		{
			font-family:'Dosis', sans-serif;
		}

a:hover		{
			text-decoration:none;
		}

a:focus		{
			outline:0;
		}

.btn		{
			height:34px;
		}

.btn-default	{
			height:34px;
			color:#000;
			background-color: var(--freya_dark_grey);
		}

.btn-default:hover{
			color:#000;
			background-color:#d2cfcd
		}

.btn-spinner	{
			height:34px;
			color:#000;
			background-color:#bbdc00
		}

.btn-spinner:hover{
			color:#000;
			background-color:#d2cfcd
		}

.fa-big		{
			color:var(--freya_dark_grey);
			font-size:128px;
			margin:25px
		}

.fa-faded	{
			font-size:32px;
			opacity:0.6;
			margin-right:15px
		}

.current-value	{
			color:#4c4845;
			font-size:50px
		}


/*	Seasons		*/
.season-item	{
			font-size: 20px;
			border: 1px solid var(--freya_dark_grey);
			border-radius: 4px;
		}

.season-item:hover {
			cursor: pointer;
		}

.season-color	{
			padding: 10px;
		}

.season-edit	{
			border: 1px solid var(--freya_dark_grey);
			border-top: 0px;
			border-radius: 4px;
		}

/*	Input fields	*/
.input-small	{
			width: 85px !important;
		}

/*	Icons	*/
i.fa.fa-check-circle.fa-2x.fa-status,
i.fa.fa-check-circle.fa-2x.fa-status:hover{
			color:#d2cfcd;
			opacity:0.5;
		}

i.fa.fa-exclamation-circle.fa-2x.fa-status,
i.fa.fa-exclamation-circle.fa-2x.fa-status:hover{
			color:#d2cfcd;
			opacity:0.5;
		}

i.fa.fa-times-circle.fa-2x.fa-status{
			color:red;opacity:1
		}

/*	Cards	*/
.card		{
			border:1px solid var(--freya_dark_grey);
			border-radius:5px;
			margin:15px 0;
			padding:3px;
			background-color:white;
			z-index:400;
			box-shadow:1px 1px 5px 1px #ccc;
			transition:all 0.2s ease-in-out
		}

.card:hover	{
			transform:scale(1.05);
			box-shadow:2px 2px 5px 2px #ccc
		}

.cards-main	{
			margin:25px 0
		}

.card-title	{
			text-align:center;
			background-color: var(--freya_dark_green);
		}

.card-body	{
			text-align:center
		}

.ghost		{
			border:2px dotted black;
			border-radius:5px;opacity:.3
		}

/*	modal	*/
.modal-lg	{
			width:75%;
			border-radius:15px;
			margin:0 auto;
			padding-top:30px
		}

div#modal-temp.modal.fade.in{
			display:block;
			padding-right:0 !important;
			padding-top:30px
		}

div .modal-header{
			background-color: var(--freya_dark_green);
		}

.modal-header .close{
			float:right;
			margin-right:-30px;
			margin-top:-30px;
			background-color:white;
			border-radius:15px;
			width:30px;
			height:30px;
			opacity:1
		}

.modal-content	{
			border-radius:5px
		}

.modal-footer	{
			margin:25px 5px
		}

.modal-backdrop	{
			opacity:0.98
		}

.modal.fade .modal-dialog{
			-webkit-transform:scale(0.1);
			-moz-transform:scale(0.1);
			-ms-transform:scale(0.1);
			transform:scale(0.1);
			top:300px;
			opacity:0;
			-webkit-transition:all 0.6s;
			-moz-transition:all 0.6s;
			transition:all 0.6s
		}

.modal.fade.in .modal-dialog{
			-webkit-transform:scale(1);
			-moz-transform:scale(1);
			-ms-transform:scale(1);
			transform:scale(1);
			-webkit-transform:translate3d(0, -300px, 0);
			transform:translate3d(0, -300px, 0);
			opacity:1
		}

/*	Graph	*/
.graph		{
			min-height:350px
		}

/*	Top bar	*/
.top-bar	{
			height:50px;
			line-height:50px;
			background-color: var(--freya_dark_grey);
			box-shadow:1px 1px 5px 1px #ccc;
			z-index:500
		}

.top-bar-img	{
			height:44px;
			padding:3px
		}

.top-bar-element{
			display:inline-block;
			vertical-align:top
		}

#top-bar-logo	{
			margin-left:10px
		}

button,input,
select,textarea{
			border:1px solid #bbdc00;
			font-family:inherit;
			font-size:inherit;
			line-height:inherit
		}

.input-group	{
			text-align:center
		}

/* responsiveness */
@media only screen and (max-width: 768px){
	.col-xs-3,.col-sm-3{
			padding-right:2px;
			padding-left:2px
		}

	.top-bar{
			height:30px;
			line-height:30px;
		}
	#top-bar-logo{
			height:25px;
			margin-left:15px
		}
	.btn{
			padding:0 12px
		}
	.well	{
			padding:10px 0
		}
	.cards-main{
			margin:0
		}
	.card	{
			margin:15px 0
		}
	a	{
			color:#4c4845
		}
	h4	{
			font-size:14px;
			margin-top:2px;
			margin-bottom:2px
		}
	.current-value{
			margin-top:15px;
			font-size:16px
		}
	.fa-big	{
			font-size:64px;
			margin:15px 0;
		}
	.fa-status{
			font-size:16px;
		}

	.fa-bar {
			font-size: 10px;
		}

}

@media only screen and (max-width: 480px){
	.top-bar{
			height:30px;
			line-height:30px
		}
	.col-xs-3,.col-sm-3 {
			padding-right:2px;
			padding-left:2px;
		}

	.dragme	{
			min-width: 150px;
		}

	.card-body {
			height: 90px;
		}

	.cards-main {
			margin:0;
		}
	.fa-big	{
			font-size:44px;
			margin:10px 0
		}

	h4 	{
			font-size:12px;
		}
	h2	{
			font-size: 14px;
	}

	.graph	{
			min-height:200px;
		}

	.modal-body {
			min-height: 60px;
		}

	.fa-bar {
			font-size: 12px;
		}

	.fa-modalheader {
			font-size: 20px;
		}
/*
	body	{
			background-color: lightgreen;
		}
*/
}
