$revolt_dark_green: 		#96a821;
$revolt_light_green: 		#bbdc00;
$revolt_dark_grey: 	       		#4c4845;
$revolt_light_grey: 	       		#d2cfcd;

$font-size: 				16px;
$font-big: 				50px;

$top-bar-line-height: 		50px;

$icon-status-fade:			0.5;

$button-text-color: black;
$button-background-color: $revolt_light_green;

$button-text-color-hover: black;
$button-background-color-hover: $revolt_light_grey;

$modal-width-percentage: 75%;
$modal-transition-duration: 0.6s;

$graph-min-height: 350px;
$graph-max-height: 600px;
